In [43]:
print('Hi')

Hi

In [44]:
import pandas as pd
import numpy as np

In [1]:
# Define the file path (make sure to replace this with your actual file path)
file_path = 'income_statement_netflix.csv'

# Load the CSV file into a DataFrame
netflix_income = pd.read_csv(file_path)
# Define the file path (make sure to replace this with your actual file path)
file_path = 'income_statement_mattel.csv'

# Load the CSV file into a DataFrame
mattel_income = pd.read_csv(file_path)

# Define the file path (make sure to replace this with your actual file path)
file_path = 'income_statement_booking.csv'

# Load the CSV file into a DataFrame
booking_income = pd.read_csv(file_path)

# Define the file path (make sure to replace this with your actual file path)
file_path = 'income_statement_cola.csv'

# Load the CSV file into a DataFrame
cola_income = pd.read_csv(file_path)

NameError: name 'pd' is not defined

In [49]:
netflix_income.head()

,Fiscal Date Ending,Reported Currency,Gross Profit,Total Revenue,Cost of Revenue,Cost of Goods and Services Sold,Operating Income,"Selling, General and Administrative",Research and Development,Operating Expenses,...,Depreciation,Depreciation and Amortization,Income Before Tax,Income Tax Expense,Interest and Debt Expense,Net Income from Continuing Operations,Comprehensive Income Net of Tax,EBIT,EBITDA,Net Income
0,2023-12-31,USD,14007929000,33723297000,19715368000,19715368000,6954003000,6110168000,2675758000,8785926000,...,NaN,14554384000,6205405000,797415000,699826000,5407990000,5401351000,6905231000,21508387000,5407990000
1,2022-12-31,USD,12447265000,31615550000,19168285000,19168285000,5632831000,5689393000,2711041000,8400434000,...,NaN,14700124000,5263929000,772005000,706212000,4491924000,4315113000,5970141000,20332955000,4491924000
2,2021-12-31,USD,12365161000,29697844000,17332683000,17332683000,6194509000,5565767000,2273885000,5565767000,...,NaN,12849993000,5840103000,723875000,765620000,5116228000,5031335000,6605723000,19044502000,5116228000
3,2020-12-31,USD,9719737000,24996056000,15276319000,15276319000,4585289000,4751848000,1829600000,6735848000,...,NaN,10922622000,3199349000,437954000,767499000,2761395000,2829314000,3966848000,15507911000,2761395000
4,2019-12-31,USD,7716234000,20156447000,12440213000,12440213000,2604254000,5445831000,1673000000,7118831000,...,NaN,9403826000,2062231000,195315000,626023000,1866916000,1862977000,2688254000,12008080000,1866916000

In [50]:
mattel_income.head()

,Fiscal Date Ending,Reported Currency,Gross Profit,Total Revenue,Cost of Revenue,Cost of Goods and Services Sold,Operating Income,"Selling, General and Administrative",Research and Development,Operating Expenses,...,Depreciation,Depreciation and Amortization,Income Before Tax,Income Tax Expense,Interest and Debt Expense,Net Income from Continuing Operations,Comprehensive Income Net of Tax,EBIT,EBITDA,Net Income
0,2023-12-31,USD,2583716000,5304057000,5167253000,2857503000,561659000,2022057000,198603000,2507867000,...,139451000,37893000,483827000,269475000,123786000,195929000,220862000,607613000,645506000,214352000
1,2022-12-31,USD,2481352000,5229409000,5027574000,2953335000,675515000,1805837000,195451000,2261064000,...,144577000,37602000,529764000,135851000,132818000,368484000,420905000,662582000,700184000,393913000
2,2021-12-31,USD,2626662000,5085750000,4960208000,2831079000,729562000,1897100000,189372000,2295880000,...,146274000,38039000,482606000,-420381000,355632000,891145000,906292000,736543000,774582000,902987000
3,2020-12-31,USD,2243103000,4366486000,4413206000,2345330000,374736000,1862709000,189494000,2271783000,...,154526000,38925000,189128000,65549000,198332000,125909000,48487000,387460000,426385000,123579000
4,2019-12-31,USD,1977341000,4303164000,4764343000,2527230000,37102000,1941539000,197226000,2438744000,...,204406000,40112000,-160426000,58324000,201044000,-213512000,-229008000,40618000,80730000,-218750000

In [51]:
booking_income.head()

,Fiscal Date Ending,Reported Currency,Gross Profit,Total Revenue,Cost of Revenue,Cost of Goods and Services Sold,Operating Income,"Selling, General and Administrative",Research and Development,Operating Expenses,...,Depreciation,Depreciation and Amortization,Income Before Tax,Income Tax Expense,Interest and Debt Expense,Net Income from Continuing Operations,Comprehensive Income Net of Tax,EBIT,EBITDA,Net Income
0,2023-12-31,USD,9239000000,21365000000,12126000000,665000000,5835000000,8328000000,NaN,15530000000,...,282000000,504000000,5481000000,1192000000,897000000,4289000000,4233000000,5835000000,6882000000,4289000000
1,2022-12-31,USD,7247000000,17090000000,9843000000,607000000,5102000000,6927000000,NaN,11988000000,...,227000000,451000000,3923000000,865000000,391000000,3058000000,2935000000,5102000000,4765000000,3058000000
2,2021-12-31,USD,3789000000,10958000000,7169000000,599000000,2496000000,4421000000,NaN,8462000000,...,259000000,421000000,1465000000,300000000,576000000,1165000000,1139000000,2496000000,2220000000,1165000000
3,2020-12-31,USD,423000000,6796000000,6373000000,642000000,-631000000,2760000000,NaN,7427000000,...,291000000,458000000,567000000,508000000,356000000,59000000,132000000,-631000000,1381000000,59000000
4,2019-12-31,USD,11552000000,15066000000,3514000000,641000000,5345000000,797000000,285000000.0,9721000000,...,294000000,469000000,5958000000,1093000000,266000000,4865000000,4990000000,5345000000,6693000000,4865000000

In [52]:
cola_income.head()

,Fiscal Date Ending,Reported Currency,Gross Profit,Total Revenue,Cost of Revenue,Cost of Goods and Services Sold,Operating Income,"Selling, General and Administrative",Research and Development,Operating Expenses,...,Depreciation,Depreciation and Amortization,Income Before Tax,Income Tax Expense,Interest and Debt Expense,Net Income from Continuing Operations,Comprehensive Income Net of Tax,EBIT,EBITDA,Net Income
0,2023-12-31,USD,27234000000,45754000000,18520000000,18520000000,11311000000,13972000000,NaN,15579000000,...,1018000000,94000000,12963000000,2249000000,1527000000,10703000000,11334000000,14490000000,14584000000,10714000000
1,2022-12-31,USD,25004000000,43004000000,18000000000,18000000000,10909000000,12880000000,NaN,14181000000,...,1125000000,120000000,11657000000,2115000000,882000000,9571000000,8977000000,12539000000,12659000000,9542000000
2,2021-12-31,USD,23298000000,38655000000,15357000000,15357000000,10308000000,12144000000,NaN,11790000000,...,1262000000,165000000,12392000000,2621000000,2156000000,9804000000,10042000000,13989000000,14154000000,9771000000
3,2020-12-31,USD,19581000000,33014000000,13433000000,13433000000,8997000000,9731000000,NaN,10163000000,...,1301000000,203000000,9728000000,1981000000,1896000000,7768000000,6690000000,11165000000,11368000000,7747000000
4,2019-12-31,USD,22647000000,37266000000,14619000000,14619000000,10086000000,12103000000,NaN,13245000000,...,1208000000,120000000,10721000000,1801000000,946000000,8985000000,8754000000,11667000000,11787000000,8920000000

In [53]:
# add year column


# Define the function to add a 'Year' column
def add_year_column(df, date_column_name):
    # Convert the specified date column to datetime format
    df[date_column_name] = pd.to_datetime(df[date_column_name])
    # Create a new 'Year' column
    df['Year'] = df[date_column_name].dt.year
    return df

In [54]:
cola_income.columns

Index(['Fiscal Date Ending', 'Reported Currency', 'Gross Profit',
       'Total Revenue', 'Cost of Revenue', 'Cost of Goods and Services Sold',
       'Operating Income', 'Selling, General and Administrative',
       'Research and Development', 'Operating Expenses',
       'Investment Income Net', 'Net Interest Income', 'Interest Income',
       'Interest Expense', 'Non-Interest Income', 'Other Non-Operating Income',
       'Depreciation', 'Depreciation and Amortization', 'Income Before Tax',
       'Income Tax Expense', 'Interest and Debt Expense',
       'Net Income from Continuing Operations',
       'Comprehensive Income Net of Tax', 'EBIT', 'EBITDA', 'Net Income'],
      dtype='object')

In [55]:
add_year_column(cola_income, 'Fiscal Date Ending' )

,Fiscal Date Ending,Reported Currency,Gross Profit,Total Revenue,Cost of Revenue,Cost of Goods and Services Sold,Operating Income,"Selling, General and Administrative",Research and Development,Operating Expenses,...,Depreciation and Amortization,Income Before Tax,Income Tax Expense,Interest and Debt Expense,Net Income from Continuing Operations,Comprehensive Income Net of Tax,EBIT,EBITDA,Net Income,Year
0,2023-12-31,USD,27234000000,45754000000,18520000000,18520000000,11311000000,13972000000,NaN,15579000000,...,94000000,12963000000,2249000000,1527000000,10703000000,11334000000,14490000000,14584000000,10714000000,2023
1,2022-12-31,USD,25004000000,43004000000,18000000000,18000000000,10909000000,12880000000,NaN,14181000000,...,120000000,11657000000,2115000000,882000000,9571000000,8977000000,12539000000,12659000000,9542000000,2022
2,2021-12-31,USD,23298000000,38655000000,15357000000,15357000000,10308000000,12144000000,NaN,11790000000,...,165000000,12392000000,2621000000,2156000000,9804000000,10042000000,13989000000,14154000000,9771000000,2021
3,2020-12-31,USD,19581000000,33014000000,13433000000,13433000000,8997000000,9731000000,NaN,10163000000,...,203000000,9728000000,1981000000,1896000000,7768000000,6690000000,11165000000,11368000000,7747000000,2020
4,2019-12-31,USD,22647000000,37266000000,14619000000,14619000000,10086000000,12103000000,NaN,13245000000,...,120000000,10721000000,1801000000,946000000,8985000000,8754000000,11667000000,11787000000,8920000000,2019
5,2018-12-31,USD,21233000000,34300000000,13067000000,13067000000,9152000000,11002000000,NaN,12267000000,...,49000000,8183000000,1749000000,892000000,6734000000,4334000000,9133000000,9182000000,6434000000,2018
6,2017-12-31,USD,22491000000,36212000000,13721000000,13721000000,7755000000,12834000000,NaN,14970000000,...,68000000,6855000000,5607000000,879000000,1181000000,2148000000,7708000000,7776000000,1248000000,2017
7,2016-12-31,USD,25398000000,41863000000,16465000000,16465000000,8657000000,15370000000,NaN,17070000000,...,139000000,8113000000,1586000000,1053000000,6527000000,5496000000,8846000000,8985000000,6527000000,2016
8,2015-12-31,USD,26812000000,43555000000,37604000000,19982000000,8728000000,16427000000,NaN,17248000000,...,156000000,9590000000,2239000000,1176000000,7351000000,2954000000,10446000000,10602000000,7351000000,2015
9,2014-12-31,USD,28109000000,44269000000,38469000000,20589000000,9708000000,17218000000,NaN,18711000000,...,168000000,9299000000,2201000000,483000000,7124000000,4753000000,9782000000,9950000000,7098000000,2014
10,2013-12-31,USD,28433000000,47032000000,38791000000,21121000000,10228000000,17310000000,NaN,17463000000,...,165000000,11435000000,2851000000,463000000,8626000000,8537000000,11898000000,12063000000,8584000000,2013
11,2012-12-31,USD,28964000000,47759000000,39780000000,21853000000,10779000000,17738000000,NaN,18485000000,...,173000000,11742000000,2723000000,397000000,9086000000,8408000000,12139000000,12312000000,9019000000,2012
12,2011-12-31,USD,28327000000,46350000000,38898000000,20616000000,10173000000,17422000000,NaN,18833000000,...,192000000,11396000000,2812000000,417000000,8634000000,7319000000,11813000000,12005000000,8584000000,2011
13,2010-12-31,USD,22426000000,34386000000,26431000000,12693000000,8413000000,13194000000,NaN,14851000000,...,102000000,14157000000,2370000000,733000000,12592000000,11116000000,14890000000,14992000000,11787000000,2010
14,2009-12-31,USD,19902000000,30635000000,22446000000,11088000000,8231000000,11358000000,NaN,12026000000,...,63000000,8864000000,2040000000,355000000,7261000000,6824000000,9219000000,9282000000,6824000000,2009

In [56]:
add_year_column(mattel_income, 'Fiscal Date Ending' )

,Fiscal Date Ending,Reported Currency,Gross Profit,Total Revenue,Cost of Revenue,Cost of Goods and Services Sold,Operating Income,"Selling, General and Administrative",Research and Development,Operating Expenses,...,Depreciation and Amortization,Income Before Tax,Income Tax Expense,Interest and Debt Expense,Net Income from Continuing Operations,Comprehensive Income Net of Tax,EBIT,EBITDA,Net Income,Year
0,2023-12-31,USD,2583716000,5304057000,5167253000,2857503000,561659000,2022057000,198603000,2507867000,...,37893000,483827000,269475000,123786000,195929000,220862000,607613000,645506000,214352000,2023
1,2022-12-31,USD,2481352000,5229409000,5027574000,2953335000,675515000,1805837000,195451000,2261064000,...,37602000,529764000,135851000,132818000,368484000,420905000,662582000,700184000,393913000,2022
2,2021-12-31,USD,2626662000,5085750000,4960208000,2831079000,729562000,1897100000,189372000,2295880000,...,38039000,482606000,-420381000,355632000,891145000,906292000,736543000,774582000,902987000,2021
3,2020-12-31,USD,2243103000,4366486000,4413206000,2345330000,374736000,1862709000,189494000,2271783000,...,38925000,189128000,65549000,198332000,125909000,48487000,387460000,426385000,123579000,2020
4,2019-12-31,USD,1977341000,4303164000,4764343000,2527230000,37102000,1941539000,197226000,2438744000,...,40112000,-160426000,58324000,201044000,-213512000,-229008000,40618000,80730000,-218750000,2019
5,2018-12-31,USD,1798683000,4320577000,4633269000,2716127000,-234349000,1635844000,205368000,2122510000,...,39095000,-417103000,116196000,181886000,-530961000,-610739000,-235217000,-196122000,-533299000,2018
6,2017-12-31,USD,1824571000,4885693000,3061122000,3056922000,-335698000,1521366000,225245000,3028975000,...,23273000,-501245000,553334000,105214000,-1053836000,-893336000,-396031000,-372758000,-1054579000,2017
7,2016-12-31,USD,2554391000,5456650000,2902259000,2906459000,519233000,1400211000,215304000,2678938000,...,22215000,409722000,91700000,95118000,318022000,223892000,504840000,527055000,318022000,2016
8,2015-12-31,USD,2806358000,5702613000,2896255000,33305000,540922000,1547584000,217816000,2953561000,...,27923000,463915000,94499000,85270000,369416000,142606000,549185000,577108000,369416000,2015
9,2014-12-31,USD,3001022000,6023819000,3022797000,3022800000,653714000,1614065000,209467000,3036530000,...,36704000,586910000,88036000,79271000,498874000,320461000,666181000,702885000,498874000,2014
10,2013-12-31,USD,3478883000,6484892000,3006009000,3006000000,1168103000,1560575000,201942000,2869173000,...,12575000,1099128000,195184000,78505000,903944000,924754000,1177633000,1190208000,903944000,2013
11,2012-12-31,USD,3409197000,6420881000,3011684000,3011700000,1021015000,1670379000,195070000,3032012000,...,11880000,945045000,168581000,88835000,776464000,758623000,1033880000,1045760000,776464000,2012
12,2011-12-31,USD,3145826000,6266037000,3120211000,3120211000,1041101000,1405478000,178982000,2014032000,...,8880000,970673000,202165000,75332000,768508000,681062000,1046005000,1054885000,768508000,2011
13,2010-12-31,USD,2954973000,5856195000,2901222000,2901222000,901902000,1405801000,173927000,2573563000,...,10362000,846825000,161962000,64839000,684863000,705198000,911664000,922026000,684863000,2010
14,2009-12-31,USD,2714697000,5359003000,4710824000,2716149000,731168000,1373776000,171279000,2066518000,...,13027000,660047000,131343000,71843000,528704000,579805000,731890000,744917000,528704000,2009

In [57]:
add_year_column(booking_income, 'Fiscal Date Ending' )

,Fiscal Date Ending,Reported Currency,Gross Profit,Total Revenue,Cost of Revenue,Cost of Goods and Services Sold,Operating Income,"Selling, General and Administrative",Research and Development,Operating Expenses,...,Depreciation and Amortization,Income Before Tax,Income Tax Expense,Interest and Debt Expense,Net Income from Continuing Operations,Comprehensive Income Net of Tax,EBIT,EBITDA,Net Income,Year
0,2023-12-31,USD,9239000000,21365000000,12126000000,665000000,5835000000,8328000000,NaN,15530000000,...,504000000,5481000000,1192000000,897000000,4289000000,4233000000,5835000000,6882000000,4289000000,2023
1,2022-12-31,USD,7247000000,17090000000,9843000000,607000000,5102000000,6927000000,NaN,11988000000,...,451000000,3923000000,865000000,391000000,3058000000,2935000000,5102000000,4765000000,3058000000,2022
2,2021-12-31,USD,3789000000,10958000000,7169000000,599000000,2496000000,4421000000,NaN,8462000000,...,421000000,1465000000,300000000,576000000,1165000000,1139000000,2496000000,2220000000,1165000000,2021
3,2020-12-31,USD,423000000,6796000000,6373000000,642000000,-631000000,2760000000,NaN,7427000000,...,458000000,567000000,508000000,356000000,59000000,132000000,-631000000,1381000000,59000000,2020
4,2019-12-31,USD,11552000000,15066000000,3514000000,641000000,5345000000,797000000,285000000.0,9721000000,...,469000000,5958000000,1093000000,266000000,4865000000,4990000000,5345000000,6693000000,4865000000,2019
5,2018-12-31,USD,11355000000,14527000000,3172000000,242000000,5341000000,699000000,233000000.0,9186000000,...,426000000,4835000000,837000000,269000000,3998000000,3685000000,5341000000,5530000000,3998000000,2018
6,2017-12-31,USD,12439000000,12681000000,242000000,242000000,4538000000,1147499000,189344000.0,7901000000,...,363000000,4398765000,2058000000,256342000,2340765000,2714000000,4538000000,5015765000,2340765000,2017
7,2016-12-31,USD,10328000000,10743000000,415000000,415000000,2906000000,891134000,142393000.0,7422000000,...,309000000,2712987000,578000000,207900000,2134987000,1755000000,2906000000,3229987000,2134987000,2016
8,2015-12-31,USD,8591807000,9063755000,1673315000,632180000,3258907000,768641000,113617000.0,5332900000,...,272494000,3128320000,576960000,160232000,2551360000,3056114000,3258907000,3561043000,2551360000,2015
9,2014-12-31,USD,7584130000,8347348000,1736340000,857841000,3073312000,663779000,97498000.0,4510818000,...,207820000,2989448000,567695000,94623000,2421753000,2077122000,3073312000,3285621000,2421753000,2014
10,2013-12-31,USD,5715886000,6683356000,1684206000,1077420000,2412414000,488811000,71890000.0,3303472000,...,117975000,2296537000,403739000,109950000,1892798000,2001068000,2412414000,2497801000,1892798000,2013
11,2012-12-31,USD,4083681000,5198892000,1611521000,1177275000,1829793000,369105000,43685000.0,2253888000,...,65141000,1757398000,337832000,62064000,1424037000,1483472000,1819462000,1884603000,1419566000,2012
12,2011-12-31,USD,3079880000,4323857000,1615896000,1275730000,1398922000,286342000,33813000.0,1680958000,...,53824000,1365035000,308663000,31753000,1059131000,1001678000,1396756000,1450580000,1056372000,2011
13,2010-12-31,USD,1908971000,3043627000,1419185000,1175934000,786797000,197488000,20998000.0,1122174000,...,45763000,745682000,218141000,41278000,528142000,493894000,775626000,821389000,527541000,2010

In [58]:
add_year_column(netflix_income, 'Fiscal Date Ending' )

,Fiscal Date Ending,Reported Currency,Gross Profit,Total Revenue,Cost of Revenue,Cost of Goods and Services Sold,Operating Income,"Selling, General and Administrative",Research and Development,Operating Expenses,...,Depreciation and Amortization,Income Before Tax,Income Tax Expense,Interest and Debt Expense,Net Income from Continuing Operations,Comprehensive Income Net of Tax,EBIT,EBITDA,Net Income,Year
0,2023-12-31,USD,14007929000,33723297000,19715368000,19715368000,6954003000,6110168000,2675758000,8785926000,...,14554384000,6205405000,797415000,699826000,5407990000,5401351000,6905231000,21508387000,5407990000,2023
1,2022-12-31,USD,12447265000,31615550000,19168285000,19168285000,5632831000,5689393000,2711041000,8400434000,...,14700124000,5263929000,772005000,706212000,4491924000,4315113000,5970141000,20332955000,4491924000,2022
2,2021-12-31,USD,12365161000,29697844000,17332683000,17332683000,6194509000,5565767000,2273885000,5565767000,...,12849993000,5840103000,723875000,765620000,5116228000,5031335000,6605723000,19044502000,5116228000,2021
3,2020-12-31,USD,9719737000,24996056000,15276319000,15276319000,4585289000,4751848000,1829600000,6735848000,...,10922622000,3199349000,437954000,767499000,2761395000,2829314000,3966848000,15507911000,2761395000,2020
4,2019-12-31,USD,7716234000,20156447000,12440213000,12440213000,2604254000,5445831000,1673000000,7118831000,...,9403826000,2062231000,195315000,626023000,1866916000,1862977000,2688254000,12008080000,1866916000,2019
5,2018-12-31,USD,5826803000,15794341000,9967538000,9967538000,1605226000,4807763000,1218000000,7869871000,...,7656457000,1226458000,15216000,420493000,1211242000,1212217000,1646951000,9303408000,1211242000,2018
6,2017-12-31,USD,3659713000,11692713000,8033000000,7659666000,838679000,3232690000,981000000,6130336000,...,6330385000,485321000,-73608000,238204000,558929000,586937000,723525000,7169064000,558929000,2017
7,2016-12-31,USD,2800768000,8830669000,6257462000,6029901000,379793000,2411277000,768000000,4609474000,...,4924978000,260507000,73829000,150114000,186678000,181421000,410621000,5335599000,186678000,2016
8,2015-12-31,USD,2188035000,6779511000,4591476000,4591476000,305826000,1945721000,570000000,3654626000,...,3547045000,141885000,19244000,132716000,122641000,83779000,274601000,3852871000,122641000,2015
9,2014-12-31,USD,1751896000,5504656000,3752760000,3752760000,402648000,1410027000,398200000,2624410000,...,2781798000,349369000,82570000,50219000,266799000,258778000,399588000,3184446000,266799000,2014
10,2013-12-31,USD,1257359000,4374562000,3117203000,3083256000,228347000,1122090000,378769000,2114200000,...,2241680000,171074000,58671000,54271000,112403000,113059000,200216000,2470027000,112403000,2013
11,2012-12-31,USD,983416000,3609282000,2652058000,2625866000,49992000,981616000,329008000,1824774000,...,45469000,30480000,13328000,19986000,17152000,19365000,50466000,95935000,17152000,2012
12,2011-12-31,USD,1164676000,3204577000,2039901000,1789596000,376068000,819675000,259033000,788608000,...,43747000,359522000,133396000,20025000,226126000,226082000,379547000,423294000,226126000,2011
13,2010-12-31,USD,805270000,2162625000,1357355000,1154109000,283641000,364394000,163329000,521629000,...,38099000,267696000,106843000,19629000,160853000,161330000,287325000,325424000,160853000,2010
14,2009-12-31,USD,590998000,1670269000,1079271000,909461000,191939000,289077000,114542000,399059000,...,38044000,192192000,76332000,6475000,115860000,116049000,198667000,236711000,115860000,2009

In [59]:
cola_income.columns

Index(['Fiscal Date Ending', 'Reported Currency', 'Gross Profit',
       'Total Revenue', 'Cost of Revenue', 'Cost of Goods and Services Sold',
       'Operating Income', 'Selling, General and Administrative',
       'Research and Development', 'Operating Expenses',
       'Investment Income Net', 'Net Interest Income', 'Interest Income',
       'Interest Expense', 'Non-Interest Income', 'Other Non-Operating Income',
       'Depreciation', 'Depreciation and Amortization', 'Income Before Tax',
       'Income Tax Expense', 'Interest and Debt Expense',
       'Net Income from Continuing Operations',
       'Comprehensive Income Net of Tax', 'EBIT', 'EBITDA', 'Net Income',
       'Year'],
      dtype='object')

In [60]:
# Drop unnecessary columns
cola_income = cola_income.drop(columns=['Fiscal Date Ending', 'Reported Currency', 'Net Interest Income', 'Interest Income',
       'Interest Expense', 'Non-Interest Income', 'Other Non-Operating Income','Interest and Debt Expense',  'Comprehensive Income Net of Tax', 'EBIT', 'EBITDA',
       'Net Income from Continuing Operations',
       'Depreciation', 'Depreciation and Amortization'])

In [61]:
# Drop unnecessary columns
mattel_income = mattel_income.drop(columns=['Fiscal Date Ending', 'Reported Currency', 'Net Interest Income', 'Interest Income',
       'Interest Expense', 'Non-Interest Income', 'Other Non-Operating Income','Interest and Debt Expense',  'Comprehensive Income Net of Tax', 'EBIT', 'EBITDA',
       'Net Income from Continuing Operations',
       'Depreciation', 'Depreciation and Amortization'])

In [62]:
# Drop unnecessary columns
netflix_income = netflix_income.drop(columns=['Fiscal Date Ending', 'Reported Currency', 'Net Interest Income', 'Interest Income',
       'Interest Expense', 'Non-Interest Income', 'Other Non-Operating Income','Interest and Debt Expense',  'Comprehensive Income Net of Tax', 'EBIT', 'EBITDA',
       'Net Income from Continuing Operations',
       'Depreciation', 'Depreciation and Amortization'])

In [63]:
# Drop unnecessary columns
booking_income = booking_income.drop(columns=['Fiscal Date Ending', 'Reported Currency', 'Net Interest Income', 'Interest Income',
       'Interest Expense', 'Non-Interest Income', 'Other Non-Operating Income','Interest and Debt Expense',  'Comprehensive Income Net of Tax', 'EBIT', 'EBITDA',
       'Net Income from Continuing Operations',
       'Depreciation', 'Depreciation and Amortization'])

In [64]:
booking_income.columns

Index(['Gross Profit', 'Total Revenue', 'Cost of Revenue',
       'Cost of Goods and Services Sold', 'Operating Income',
       'Selling, General and Administrative', 'Research and Development',
       'Operating Expenses', 'Investment Income Net', 'Income Before Tax',
       'Income Tax Expense', 'Net Income', 'Year'],
      dtype='object')

In [65]:
# Add company name to each DataFrame
cola_income['Company'] = 'cola'
mattel_income['Company'] = 'mattel'
netflix_income['Company'] = 'netflix'
booking_income['Company'] = 'booking'

In [66]:
# Rename columns for clarity and to avoid conflicts
# Add suffix to column names
#suffix = '(netflix)'
#netflix_income.columns = [col + suffix for col in netflix_income.columns]

In [67]:
#cola_income = cola_income.rename(columns={
    #'Year(cola)': 'Year'})

In [68]:
# Merge DataFrames on 'Year' column
#merged_income = cola_income.merge(netflix_income, on='Year', how='outer') \
#               .merge(booking_income, on='Year', how='outer') \
#               .merge(mattel_income, on='Year', how='outer')

In [69]:
# Reset index
#merged_income = merged_income.reset_index(drop=True)

In [70]:
# Combine all DataFrames into one
income_combined = pd.concat([cola_income, mattel_income, netflix_income, booking_income], ignore_index=True)

# Optionally, reset index
income_combined_combined = income_combined.reset_index(drop=True)

In [71]:
income_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 14 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Gross Profit                         59 non-null     int64
 1   Total Revenue                        59 non-null     int64
 2   Cost of Revenue                      59 non-null     int64
 3   Cost of Goods and Services Sold      59 non-null     int64
 4   Operating Income                     59 non-null     int64
 5   Selling, General and Administrative  59 non-null     int64
 6   Research and Development             40 non-null     float64
 7   Operating Expenses                   59 non-null     int64
 8   Investment Income Net                44 non-null     float64
 9   Income Before Tax                    59 non-null     int64
 10  Income Tax Expense                   59 non-null     int64
 11  Net Income                           59 non-null     int64
 12  Year                                 59 non-null     int32
 13  Company                              59 non-null     object
dtypes: float64(2), int32(1), int64(10), object(1)
memory usage: 6.4+ KB

In [72]:
# Save the combined DataFrame to an Excel file
file_path = 'combined_data.xlsx'
income_combined.to_excel(file_path, index=False, engine='openpyxl')

print(f'Data successfully saved to {file_path}')

Data successfully saved to combined_data.xlsx